.date-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    
    margin-bottom: 30px;

  }
  
  .arrow {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .dates {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 20px 0;
    margin: 0 20px;    
  }

  .dates::-webkit-scrollbar {
    height: 4px;
    background-color: #383838;
  }
  
  .dates::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .dates::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  
  .date-item {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    min-width: 80px;
  }
  
  .date-item p {
    margin: 0;
  }
  
  .date-item .date {
    font-size: 24px;
    font-weight: bold;
  }
  
  .date-item.selected {
    color: rgb(255, 191, 0);
    transform: scale(1.2);
  }
  
  .date-item:hover {
    transform: scale(1.1);
  }
  