.seat-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(31, 41, 55, 0.8), rgba(17, 24, 39, 0.95));
  
    border-radius: 10px;
    padding: 30px;
  }
  
  .screen {
    width: 90%;
    height: 30px;
    background-color: #ff9900;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .seat-grid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 5px;
  }
  
  .seat-row {
    display: contents;
  }
  

 

  .seat {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 14px;
  }

 
  
  .seat:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
  
  .seat-null {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffcc00;
    background-color: none;
  }