

.nav-container-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 35px 0 ;
}

.full-logo {
    height: 75px;
}

.full-logo:hover {
    filter: brightness(1.1);
}

.header-nav {
    display: flex;
    font-weight: bold;
    font-size: 15px;
}

.header-nav span {  
    padding: 1rem 1.5rem;
}

.header-nav span:hover {
    cursor: pointer;
}

.header-nav span p {
    border-bottom: 2px solid #00000000;
    color: #ffffff;
}

.custom-link{
  text-decoration: none;
}

.header-nav span:hover p{
    color: #FED941;
    border-bottom: 2px solid #FED941;
    cursor: pointer;
}
  

.function-header-nav {
    display: flex;
    align-items: center;
}

.function-header-nav input {
    background-color: white;
    padding: 0 12px;
    width: 300px;
    height: 34px;
    border: none;
    color: black;
    border-radius: 5px 0 0 5px;
}

.function-header-nav img {
    background-color: #FED941;
    width: 20px;
    height: 34px;
    border: none;
    color: black;
    padding: 0 20px;
    border-radius: 0 7px 7px 0;
}

.function-header-nav img:hover {
    cursor: pointer;
    background-color: #c19a00;
}



.button-link {
  text-decoration: none;
}




.conteiner-btn-2 {
    display: flex; 
    align-items: center;
    background-color: #000000;
    border: 1px solid #FED941;
    padding: 6px 25px 6px 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: small;
}

.conteiner-btn-2:hover {
    background-color: #272727;
    cursor: pointer;
}

.conteiner-btn-3 {
  background-color: #4193fe;
  border: none;
  padding: 9px 30px;
  margin-top: 20px;
  border-radius: 4px;
}

.conteiner-btn-3:hover {
  background-color: #1278ff;
  cursor: pointer;
}








.portada-movie {
  background-color: #717171;
    position: relative; 
    min-height: 330px;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 7px;
}

.movie-void {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  font-weight:600;
  font-size: large;
  color: #272727;
}

.movie-void img {
  width: 140px;
}


.portada-movie img:hover {   
    transition: 0.5s;
    filter: brightness(0.7);
    cursor: pointer;
}


.movie-image {
    object-fit: cover;
    width: 210px;
    height: 330px;
    border-radius: 7px;
    border: 1px solid #646464;
}

.container-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    position: absolute;
    top: 40px;
    background-color: #00000074;
    border-radius: 0 20px 20px 0;
    border: 2px solid #FED941;
    border-left: none;
    color: #ffffff;
    font-weight: bold;
}

.container-stars-low{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  position: absolute;
  top: 40px;
  background-color: #00000074;
  border-radius: 0 20px 20px 0;
  border: 2px solid #4161fe;
  border-left: none;
  color: #ffffff;
  font-weight: bold;
}

.container-stars-low img {
  width: 15px;
  height: 15px;
  padding-right: 3px;
}

.container-stars img {
    width: 15px;
    height: 15px;
    padding-right: 3px;
}


.conteiner-no-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.conteiner-no-found img{
    width: 350px;
    padding-bottom: 24px;
}

.conteiner-no-found h3{
    font-family: Montserrat;
    font-size: 28px;
}












  .conteniner-modal-movie{
    position: absolute;
    background-color: #00000091;
    top: 0;
    left: 0;
    width: 98.6vw;
    height: 320%;
    z-index: 9999;
    display: flex;
    justify-content: center;
  }


  .contenedor-modal-details{
    width: 1000px;
    height: 700px;
    display: flex;
    margin-top: 100px;
  }

  .portada-modal {
    margin-top: 25px;
    margin-right: 50px;
    height: 370px;
    box-shadow: 0 0 19px 5px #9a9a9a;
    
  }

  .details-modal {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .rotar-multiejes {
    min-width: 300px;
    margin-bottom:auto;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  }

  .close-button {
    align-items: end;
    justify-content: end;
    margin: 0;
  }

  .close-button img {
    width: 30px;
  }

  .close-button img:hover {
    filter: brightness(0.4);
  }

  .conteiner-details{
    display: flex;
    position: absolute;
    width: 800px;
    top: 100px;
  }


  .conteiner-details p{
    text-align: start;
  }








  .conteiner-button-details{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }

  .conteiner-button-details button{
    justify-content: center;
    font-size: 15px;
  }

  .title-movie{
    background-color: #ffcc00;
    color: #000000;
    margin-right: auto;
    padding: 5px 30px 5px 30px;
    font-size: 30px;
    border-radius: 6px;
  }

  .description-movie{
    padding: 20px 0px;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }

  .details-movie{
    background-color: #ffcc00;
    padding: 5px 20px;
    border-radius: 7px;
    margin-bottom: 30px;
    margin-right: auto;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-movie span{
    font-size: 10px;
    margin: 0 10px
  }

  .close-button{
    padding: 20px;
    background-color: #00000000;
    border: none;
    font-size: 26px;
  }

  .close-button:hover {
    cursor: pointer;
    color: #717171;
  }


  .reproductor {
    width: 640px;
    height: 360px;
    border: 1px solid #c19a00;
    background-color: #2c2c2c;
  }

  




