


.button-link {
  text-decoration: none;
}




.conteiner-btn-2 {
    display: flex; 
    align-items: center;
    background-color: #000000;
    border: 1px solid #FED941;
    padding: 6px 25px 6px 20px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: small;
}

.conteiner-btn-2:hover {
    background-color: #272727;
    cursor: pointer;
}

.conteiner-btn-3 {
  background-color: #4193fe;
  border: none;
  padding: 9px 30px;
  margin-top: 20px;
  border-radius: 4px;
}

.conteiner-btn-3:hover {
  background-color: #1278ff;
  cursor: pointer;
}







