.conteiner-footer {
  margin-top: 5rem;
  color: white;
  border-top: 5px solid #616161 ;
  padding: 3rem 0 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer h3 {
  font-size: 1.10rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer p {
  color: #888888;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer a {
  color: #bdc3c7;
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.social-icons img{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.newsletter-form {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;
}

.newsletter-input {
  flex-grow: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #0091f1;
  border-radius: 4px 0 0 4px;
}


.newsletter-button {
  background-color: #0091f1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletter-button:hover {
  cursor: pointer;
  background-color: #0f9ffe;
}

.footer-bottom {
  border-top: 1px solid #34495e;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: rgb(139, 139, 139);
}

@media (max-width: 768px) {

    .newsletter-form{
      flex-direction: column;
      align-items: center;
    }

    .newsletter-input {
      width: 100%;
    }

    .newsletter-button {
      margin: 20px 0;
      width: 100%;
    }

}